.card-serie {
    background-color: #04025A;
    max-width: 200px;
    max-height: 1100px;
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 20px;
    padding: 2px;
   
    
}

.poster-image {
    background-size: 100%;
    border-radius: 5px;
    background-repeat: no-repeat;
    padding: 100px;
    height: 100px;
    
}

.span {
    color: #FFFFFF;
}

.watch-later {
    color: #FFFFFF;
    position: absolute;
    margin-left: 10px;
    margin-top: 10px;
}

.texto-card{
margin-left: 10px;
margin-right: 10px;
justify-content: center;
color: #FFFFFF;}

.nota {
    font-family: 'Short Stack', cursive;
    color: #FFFFFF;
}
.star{
    padding-top: 20px;
    margin-left: 1px;
    color: #ffff00;
   

}
@import url('https://fonts.googleapis.com/css2?family=Short+Stack&display=swap');

.titulo-filme {
    font-size: 25px;
    font-family: Ubuntu, sans-serif;
    font-size: 20px;
    text-align: center;
}

.data {
    font-family: 'Short Stack', cursive;
    color: white;
    font-size: 14px;
}