
.Header input{
    margin-right: 20%;
    border-radius: 0;
    border-radius: 10px;
    width: 400px;
    height: 25px;
    margin: 0 10px; 
    margin-left: 50%;
  }

  .Header {
    display: flex;
    padding: 28px;
    background-color: black;
    justify-content: space-between;
  
    }