@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap'); 
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css2?family=Short+Stack&display=swap');

.App {
  background-color: #390B0B;
  min-height: 100vh;
  
}
 
.Logo {
  width: 200px;
  height: 45px;
  left: -1px;
  top: 1px;
  background: linear-gradient(0deg, #BB6B6B, #FF00006B), linear-gradient(0deg, #FF0000, #FF0000), #FF0000;  
  font-family: Ubuntu, sans-serif;
  font-size: 28px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.165em;
}


.content{
  display: grid;
  grid-template-columns: repeat(5, 3fr);
  list-style: none;
}

.nav-link{
  color: red;
  font-weight: bold;
  font-size: 20px;
  font-family: Ubuntu, sans-serif;
  margin: 20px;
  padding-left: 20%;

  text-decoration: none;
}

